@model PoolDrills.Web.ViewModels.Drills.AddDrillViewModel

@{
    this.ViewData["Title"] = "Add Drill";
}

<div class="text-center">
    <h1 class="headings">SUBMIT A DRILL</h1>
</div>

<form asp-controller="Drills" asp-action="Add" method="post">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" class="form-control" placeholder="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Difficulty">Select Difficulty</label>
            <select class="form-control" asp-items="Html.GetEnumSelectList<PoolDrills.Data.Models.Enums.Difficulty>()">
            </select>
            <span asp-validation-for="Difficulty" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label asp-for="Category">Select Category</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Speed</label>
            </div>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="3" placeholder="Describe the drill..."></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-8 mb-3">
            <label asp-for="ImageUrl"></label>
            <input type="text" asp-for="ImageUrl" class="form-control" placeholder="Drill Image Url...">
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label for="exampleFormControlFile1">Upload Drill Image</label>
            <input type="file" class="form-control-file">
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Add Drill</button>
</form>