@model PoolDrills.Web.ViewModels.Drills.AllDrillsViewModel

@{
    this.ViewData["Title"] = "Add Drill";
}

@foreach (var drill in Model.Drills)
{
    <div class="card" style="width: 18rem;">
        <img src="@drill.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@drill.Title</h5>
            <p class="card-text">@drill.Description</p>
            <p class="card-text">@drill.Category</p>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-primary">View</a>
        </div>
    </div>
}