@model IEnumerable<PoolDrills.Data.Models.Drill>

@{
    this.ViewData["Title"] = "Approve Drills";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Added by</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            int rowNumber = 1;
        } 
        @foreach (var drill in Model)
        {
            <tr>
                <th scope="row">@rowNumber</th>
                <td><img src="@drill.ImageUrl"/></td>
                <td>@drill.Author.NormalizedUserName</td>
                <td>approve / delete</td>
            </tr>
            rowNumber++;
        }
    </tbody>
</table>