@using PoolDrills.Common
@using PoolDrills.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <link rel="stylesheet" href="~/css/dropdown.css" />

    <ul class="navbar-nav">
        @if (this.SignInManager.IsSignedIn(this.User))
        {
            <li class="dropdown">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(this.User.Identity.Name)!</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @*<a class="dropdown-item" asp-controller="Orders" asp-action="MyOrders">My Orders</a>*@
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account Settings</a>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">Logout</a>
                </div>
            </li>
            if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="dropdown">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Home" asp-action="Index" title="Manage">Admin Panel</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                        <a class="dropdown-item" asp-area="Administration" asp-controller="Drills" asp-action="ToApprove">ToApprove</a>
                    </div>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link" asp-controller="Favorites" asp-action="All"><i class="fas fa-heart fa-md favs"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="ShoppingCart" asp-action="Index"><i class="fas fa-shopping-bag fa-md cart"></i></a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
